@font-face {

    font-family: 'Counter-Strike-Regular';
    src:url('../../assets/fonts/Counter-Strike-Regular.woff') format('woff'),
        url('../../assets/fonts/Counter-Strike-Regular.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {

    font-family: 'Flexo';
    src:url('../../assets/fonts/Flexo-Black.woff') format('woff'),
        url('../../assets/fonts/Flexo-Black.eot');
    font-weight: bold;
    font-style: normal;
}

@font-face {

    font-family: 'Flexo';
    src:url('../../assets/fonts/Flexo-Thin.woff') format('woff'),
        url('../../assets/fonts/Flexo-Thin.eot');
    font-weight: normal;
    font-style: normal;
}