@import "variables";
@import "bootstrap";
@import "fonts";

@import 'leftbar';
@import 'navbar';
@import 'components/skins';
@import 'components/forms';


html, body {

  width: 100%;
  height: 100%;
  font-family: 'Flexo';
  background-image: url('../../assets/images/bg.jpg');
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
}


#app {

  background-image:
    linear-gradient($body-bg, $body-bg2),
    radial-gradient(transparent, $body-bg);
  backdrop-filter: saturate(.3);

  #content {

    overflow: auto;
  }
}

.counter-strike {

  font-family: 'Counter-Strike-Regular';
}

.divisor {

  $divisor-size: 2px;
  $divisor-color: #565b63;

  position: relative;

  &::before {

    position: absolute;
    content: "";
    background: $divisor-color;
  }

  &.divisor-v::before { width: $divisor-size; height: 100% }
  &.divisor-h::before { width: 100%; height: $divisor-size }
}